html
	head
		title!= title
	body
		h1!= message
    
		ul#lista_gier
			li Gra numer jeden
			li Gra numer dwa

		ul#nowa_gra
			li
				input(type="text", placeholder="Nazwa stołu")
			li
				button(type="submit", ) Oszukuj!
