html
	head
		title Gypsy Card Game
	body
		h1!= message
    
		ul#game_list
			if gameList
				each row in gameList
					li
						a(href='/game/' + row.id) #{row.name}

		ul#new_game
			form(action="newGame", method="post")
				li
					input(name="tableName", type="text", placeholder="Table name")
				li
					input(name="players", type="number", min="2", max="6", placeholder="Players")
				li
					button Cheat!
